<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-default ">
			<div class="panel-heading">
				<h2 class="panel-title">Please log in</h2>
			</div>
			<div class="panel-body">
				<form class="form-login">
					<div class="form-group">
						<div class="col-md-12">
							{{input classNames="form-control" placeholder="User name" valueBinding="username"}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							{{input type="password" classNames="form-control" placeholder="Password" valueBinding="password"}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<button class="btn btn-default " type="submit" {{action login}}>Log in</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
